* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    margin: 0;
  line-height: 1.6;
  color: #ffffff; 
  background: 
    linear-gradient(rgba(0, 0, 0, 0.521), rgb(0, 0, 0)),
    url("asserts/fd.jpg") center/cover no-repeat;
  background-attachment: fixed; 
  font-family: Inter, system-ui, sans-serif;
}

.container {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

}

.left {
    flex: 1;
    background: linear-gradient(135deg, #690e52, #070004);
    color: white;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.left p {
    font-size: 16px;
    line-height: 1.6;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.right h2 {
    margin-bottom: 30px;
    color: #333;
}

.input-box {
    width: 70%;
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.options {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.options a {
    text-decoration: none;
    color: #6a11cb;
}

.login-btn {
    width: 70%;
    padding: 12px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    opacity: 0.9;
}

footer {
    position: absolute;
    bottom: 15px;
    font-size: 14px;
    color: white;
}
